.blog-post-container{
    width:100%;
    height:fit-content;
    display:flex;
    flex-wrap:wrap;
    margin:50px 0;
    padding:5px;
    font-family: 'Playfair Display SC', serif;
}
.blog-post-header{
    width:100%;
    height:fit-content;
    padding:15px;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}
.blog-post-header a{
    color:black;
}
.blog-post-header .blog-head-title{
    width:100%;
    text-align:center;
}
.blog-post-header .viewall{
    text-align:right;
    width:100%;
    font-size:14px;
}
.blog-post-sub-container{
    width:100%;
    height:fit-content;
    margin:20px 0;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.blog-post-item{
    width:100%;
    padding:15px;
    margin-left:10px;
    justify-content:space-between;
}
.blog-post-items{
    width:95%;
    height:fit-content;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.blog-post-img-container{
    width:100%;
    height:200px;
    overflow:hidden;
    justify-content:space-around;
    /* padding:0px 30px 0 30px; */
    padding:5px;
}
.blog-post-img-container img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
    justify-content:center;
}
.blog-post-text-container{
    padding:5px;
    width:100%;
    height:fit-content;
    margin:10px 0;
}
.blog-post-text-container .blog-title{
    font-size:17px;
}
.blog-post-text-container .blog-title a{
    color:black;
}
.blog-post-text-container a{
    color:black;
}
.blog-post-text-container p{
    margin:10px 0 5px 0;
    font-size:14px;
    font-family: Noto Sans,sans-serif;
    font-weight:600;
}
.blog-post-text-container .updated_on{
    font-size:10px;
    font-weight:400;
    margin:10px 0;
}
.slick-prev:before {
color: #183b78 !important;
/* background-color: #eee; */
}
.slick-next:before {
color: #183b78 !important;
/* background-color: #eee; */
}