*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Playfair Display SC', serif;
}
.container{
    width: 100%;
    height:fit-content;
}
    .contact-container{
        width:80%;
        margin:50px auto;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        height:fit-content;
        padding:20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .contact-item-line{
        width:1px;
        background:#9CA6B9;
    }
    .contact-title{
        width:100%;
        text-align:center;
        margin:15px;
    }
    .contact-item{
        width:45%;
        padding:10px;
        display:flex;
        flex-wrap:wrap;
    }
    .contact-item form{
        width:100%;
    }
    .contact-item p {
        font-family: Noto Sans,sans-serif;
    }
    .item{
        text-align:center;
        width:100%;
        padding:0 5px;
        height:fit-content;
        margin:10px 0;
    }
    .item .item-title{
        width:100%;
        color: #183b78;
    }
    .item .item-text{
        margin:10px 0;
    }
    .top{
        margin:20px 0;
    }
    .contact-text{
        width:90%;
    }
    .contact-text input{
        width:100%;
        height:35px;
        padding:5px;
        border-radius:8px;
        background:white;
        font-family: Noto Sans,sans-serif;
        margin:10px 0;
        border:2px solid #97A4A7;
    }
    .contact-text label{
        margin:10px 0;
    }
    .contact-text textarea{
        width:100%;
        background:white;
        border-radius:10px;
        font-family: Noto Sans,sans-serif;
        margin:10px 0;
        padding:5px;
        border:2px solid #97A4A7;
    }
    form input:active{
        border: none;
        outline:none;
    }
    .btn-submit{
        width:120px;
        border:1px solid white;
        border-radius:10px;
        height:40px;
        background:#0081CF;
        color:white;
        cursor: pointer;
        font-family: Noto Sans,sans-serif;
        margin:0 5px;
    }
    @media screen and (max-width: 992px){
    .contact-container{
        width:100%;
        margin:10px auto;
        padding:10px;
    }
    .contact-item-line{
        display: none;
    }
    .contact-item{
        width:100%;
    }
    .contact-item form{
        width:90%;
        margin:auto;
    }
    .item{
        width:100%;
        padding:0;
    }
    }