*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:fit-content;
}
.events-container{
    width:100%;
    height:fit-content;
}
.footer-items{
    margin:100px 0;
}
.events-list-container{
width:80%;
height:fit-content;
display:flex;
flex-wrap:wrap;
margin:auto;
padding:5px;
font-family: 'Playfair Display SC', serif;
margin-top:50px;
}
.events-list-header{
width:100%;
height:fit-content;
padding:15px;
display:flex;
flex-wrap:wrap;
text-align:center;
}
.events-list-header a{
color:black;
}
.events-list-header .events-list-head-title{
width:100%;
text-align:center;
}
.events-list-sub-container{
width:100%;
height:fit-content;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
margin-top:30px;
}
.events-shortinfo{
width:70%;
padding:5px;
margin:auto;

}
.events-list-items{
width:50%;
margin:auto;
margin-top:30px;

}
.events-list-items li{
margin-top:10px;
}
.events-list-items li a{
color:#183b78;
margin-top:10px;
}
@media screen and (max-width: 992px){
.events-list-container{
width:100%;
padding:15px;
margin-top:30px;
}
.events-list-sub-container{
padding:0px;
}
.events-list-items{
width:100%;
margin:auto;
margin-top:0px;
text-align:left;
padding:20px;
padding:5px 20px;
}
.events-list-items li{
margin-top:10px;
margin:10px auto;
width:45%;
text-align:left;
}
.events-list-items li a{
color:#183b78;
margin-top:10px;
}
.events-shortinfo{
width:95%;
padding:10px;
margin:auto;
margin-top:30px;
}
}